<!DOCTYPE html>
<html lang="en">
{%include "header.html"%}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    {%include "navbar.html"%}
    

    <!-- About Section -->
    <section id="about" class="container tech text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <img style="width:30%;padding-bottom:20px;" src="static/img/me.png">
                <p>Jessica is studying Computer Science at Columbia University in New York City and is especially interested in webdev and anything Ai related specifically with machine learning, robotics, data science, hardware and computer vision. She also enjoys fine arts and design and writing songs and throwing herself out into the forests to strengthen her survival skills.</p>
              <img src="static/img/boatman.jpg" style="width:60%;">
            </div>
        </div>
    </section>


 {%include "footer.html"%}
  {%include "bottom.html"%}
</body>

</html>
