<!DOCTYPE html>
<html lang="en">
{%include "header.html"%}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="container1" style="height:100%;position:aboslute">
    <!-- Navigation -->
    {%include "navbar.html"%}
    
    <!-- Page Content -->
<div class="container gallery" style="padding-top:40px;">
       

<div class="row">
    <div class="col-xs-6">
        <!-- /.row -->
        <div class="row">
             <div class="col-sm-3 portfolio-item">
                <a >
                    <img class="fit-height" src="static/gallery/sink.png" alt="" >
                </a>
            </div>
            
            <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/profilelady.png" alt="">
                </a>
            </div>
            <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/marbles.png" alt="">
                </a>
            </div>
               <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/img/oil.jpg" alt="">
                </a>
            </div>
        </div>

        <!-- /.row -->
        <div class="row">
             <div class="col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/watercolor.png" alt="">
                </a>
            </div>
            
            <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/windlady.png" alt="">
                </a>
            </div>
            <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="fit-height" src="static/gallery/paintings_4.png" alt="">
                </a>
            </div>
               <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="fit-height" src="static/gallery/paintings_8.png" alt="">
                </a>
            </div>
        </div>
<!-- /.row -->
        <div class="row">
             <div class="col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/fishhair.png" alt="">
                </a>
            </div>
            
            <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/paintings_7.png" alt="">
                </a>
            </div>
            <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="fit-height" src="static/gallery/sailboats.png" alt="">
                </a>
            </div>
               <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/drawings_2.png" alt="">
                </a>
            </div>
        </div>

        <!-- /.row -->
        <div class="row">
             <div class="col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/cowhead.png" alt="">
                </a>
            </div>
            
            <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/venice.png" alt="">
                </a>
            </div>
            <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/guts.png" alt="">
                </a>
            </div>
               <div class=" col-sm-3 portfolio-item">
                <a >
                    <img class="img-responsive" src="static/gallery/drawings_4.png" alt="">
                </a>
            </div>
        </div>


</div>  

 <div class="col-xs-6 tech">
            <p> 
                Wander over <a href="http://jessicasfandom.space"> here</a> for more of my work.

                <br><br>
                <u>I have also been:</u>
                <br><br>
                illustrator/cartoonist for Columbia Daily Spectator<br><br>
                art director & <a href="http://www.scribd.com/doc/156777352/Then">cover artist</a> for the <a href="http://www.wikicu.com/Jester_of_Columbia">Columbia Jester </a><br><br>
                Playbill artist for <a href="https://en.wikipedia.org/wiki/Varsity_Show"> Columbia's Varsity Show</a>
                


            </p>
           
    </div>
 
      

    </div>
    <!-- /.container -->
</div>


  {%include "bottom.html"%}
</body>

</html>
