

<!DOCTYPE html>
<html lang="en">
{%include "header.html"%}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    {%include "navbar.html"%}
    <div style="margin:400px;"
<a class="twitter-timeline" href="https://twitter.com/banunu_dog" data-widget-id="684237659116539904">Tweets by @banunu_dog</a>


<script>!function(d,s,id)
	{
		var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
		if(!d.getElementById(id))
			{
				js=d.createElement(s);
				js.id=id;
				js.src=p+"://platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js,fjs);

			}
	}(document,"script","twitter-wjs");

	</script>

</div>

 {%include "footer.html"%}
  {%include "bottom.html"%}
</body>

</html>
