<!DOCTYPE html>
<html lang="en">
{%include "header.html"%}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    {%include "navbar.html"%}

    <!-- tech Section --> 
    <section id="tech" class="container tech summaries text-center" style="padding-top:50px;">
        <div class="row">


        <div class="col-md-10 innerSummaryDiv" style="padding-left:0px;padding-right:0px;">
            <div class="col-lg-12 ">
                <h2 style="padding:0px;margin:10px">Microsoft</h2>
                <h4 style="padding-bottom:40px;margin:0px"> 2015</h4>

                 <img style="width:40%; padding-right:20px;" src="static/img/microsoft/responsive3" >
                <img style="width:40%;" src="static/img/microsoft/responsive1" >
                <!--
                The Microsoft E-commerce Team is responsible for managing massive, bulk sales of Microsoft products for large companies. Within this team, I executed the design, implementation and testing steps to make the Volume Licensing Application responsive and mobile friendly. This was previously not attempted due to the VL application being extremely big, thus careful measures had to be taken to ensure that all existing functionalities remained intact. Then I began the migration of the large volume licensing application to the cloud using Microsoft Azure to allow sales and concessions to be approved on all devices and without connection to the corporation network, increasing efficiency and productivity. 
                -->
                <p style="padding-top:20px; text-align:left;">
                  Executed the design, implementation and testing steps to make the Volume Licensing Application within <a href="https://www.microsoft.com">Microsoft's </a> Enterprise Commerce Team responsive and mobile-friendly, previously not attempted due to the application size. Also began the migration of the VL application to the cloud using Microsoft Azure to allow access without connection to the corporation network on all devices.

                </p>
              
         </div>
            <!-- Microsoft  -->  <hr>

            <div class="col-lg-12 ">
                <h2 style="padding:0px;margin:10px">EEG Enterprises</h2>
                <h4 style="padding-bottom:40px;margin:0px"> 2014</h4>

                <a href="https://eegent.com/"><img style="width:20%; padding-right:20px;" src="static/img/eeg/sami2.png" ></a>
                <a href="https://msdn.microsoft.com/en-us/library/windows/desktop/dd562247(v=vs.85).aspx">
                <img style="width:50%;" src="static/img/eeg/sami1.png" ></a>
                <!-- I created a SAMI file parser that encodes closed captioning data into serial digital interfaces. A SAMI file, primarily used in South Korea, provides closed captioning support and is structured similar to an HTML file. The SAMI file parser extracted information from the file and wrapped them with the EIA-608 closed captioning protocols to be easily translated into other close captioning formats. It was sold to one of the biggest South Korean television networks, KBS.  
                 <br><br>
                
                Furthermore, I helped with the SCTE 104 API web app which helps define digital insertion points for ads in broadcast streams--primarily in designing the layout and serializing data for encoding and decoding.-->
                <p style="padding-top:20px; text-align:left;">
                 Created a SAMI file parser that encodes closed captioning data into serial digital interfaces which was sold to one of the biggest South Korean television networks, KBS. <a href="https://msdn.microsoft.com/en-us/library/windows/desktop/dd562247(v=vs.85).aspx">A SAMI file </a>provides closed captioning support and is structured similar to an HTML file. 
                 <br><br>
                
                    Also helped build the <a href="https://eegent.com/support/resources/Appnotes/SCTE-104%20with%20EEG%20encoders%20and%20decoders">SCTE 104 </a> API application which helps define digital insertion points for ads in broadcast streams.

 
                </p>
              
            </div>
        <!-- EEG  -->  
        <hr>

            <div class="col-lg-12 ">
                <h2 style="padding:0px;margin:10px">Reach</h2>
                <h4 style="padding-bottom:40px;margin:0px"> 2015</h4>

                <img style="width:40%;" src="static/img/tech/reach10.png" >
                <img style="width:42%;" src="static/img/tech/reach6.png" >
                <!--Reach is a comprehensive analytics suite that allows you to explore surfacing trends
                    and interactions between users on Twitter. Reach provides the three main services:
                    <br><br>
                    <b>1) User Analytics:</b> Reach gives high­ level summaries of any Twitter user's interactions on the platform, providing more transparency to social media managers and publicists. User analytics can also be used by recruiters, political analysts, or anyone else who wishes to run a background check.
                    <br><br>
                    <b>2.) Trend Geography:</b> Reach visualizes how a trend on Twitter propagates geographically as a function of
                    time.
                    <br><br>
                    <b> 3) Trend Influencers: </b> Reach identifies Twitter users who are influential about a specific topic.
                -->
                <p style="padding-top:20px; text-align:left;">
                    <a href="https://github.com/six5532one/reach">Reach</a> is an analytics suite that allows exploration of trends and interactions between users on Twitter. Reach provides the three main services:
                    <br>
                    <b>1) User Analytics:</b> High­ level summaries of any user's interactions.
                    <br>
                    <b>2.) Trend Geography:</b> Visualizations of how a trend propagates geographically as a function of time. 

                    <br>
                    <b> 3) Trend Influencers: </b> Identification of users who are influential about a specific topic.

                </p>
              
            </div>
            <hr>

       <!-- Reach  --> 

             <div class="col-lg-12 ">
                <h2 style="padding:0px;margin:10px">Genome Simulator</h2>
                <h4 style="padding-bottom:40px;margin:0px"> 2014</h4>

                <img style="width:40%;" src="static/img/genome/genome1.png" >
                <img style="width:30%;" src="static/img/genome/genome3.png" >
                <!--  A Genome Simulator provides visual representations of simulations depicting genetic descent of populations across clearly defined generations. Users are also allowed to build upon the simulation by adding populations, relationships and events. The simulator helps test hypotheses about sequence variation caused by demography patterns with real genetic data influenced by historical and evolutionary causes. The simulator helps in population genetics research by replicating events like the convergence or divergence of populations and migrations across generations. The simulator takes in a genomic simulation represented by a self-developed language, visualizes the simulation and provides user interactivity.
                -->
                <p style="padding-top:20px; text-align:left;">
                Worked in conjunction with Professor<a href="http://systemsbiology.columbia.edu/faculty/itsik-peer"> Itsik Pe'er </a> and his lab in building a Genome Simulator--a software which provides user interactive 3D visual representations of simulations depicting genetic descent of populations across clearly defined generations. It takes in a genomic simulation represented by a self-developed language, parses it, visualizes and allows users to build upon the simulation.
                
                </p>
              
            </div>
    <!-- Genome Simulator  --> 
    <hr>


            <div class="col-lg-12 ">
                <h2 style="padding:0px;margin:10px">the Buff plan</h2>
                <h4 style="padding-bottom:40px;margin:0px"> 2015</h4>

            <img style="width:40%;" src="static/img/thebuffplan/buff2.png" >
             <img style="width:41%;" src="static/img/thebuffplan/buff1.png" >
                <!--    The Buff Plan provides customized exercise, nutrition and supplement plans for users based on the individual’s goals: weight loss, weight gain, weight maintenance and bodybuilding. The app takes into consideration: age, body weight, gender, height, activity level, exercise availability, favorite ingredients, dietary constraints and injuries. It also serves up recipes for foods based on a user's available ingredients/food along with their plan and restrictions. -->
                <p style="padding-top:20px; text-align:left;">
                   The Buff Plan provides customized exercise, nutrition and supplement plans for users based on the individual’s goals and restrictions and also serves up recipes for foods based on a user's available ingredients/food along with their plan and restrictions. 
                </p>
              
            </div>
             <hr>
            

    
    <!-- Buff plan  -->     

            <div class="col-lg-12 ">
                <h2 style="padding:0px;margin:10px">Neopixel Bot</h2>
                <h4 style="padding-bottom:40px;margin:0px"> 2015 - Current</h4>
                <a href="https://en.wikipedia.org/wiki/Light_painting">
                <img style="width:40%; padding-right:20px;" src="http://hackadaycom.files.wordpress.com/2012/07/rgb-strip-light-painting.jpg" >
               </a>
    
                <p style="padding-top:20px; text-align:left;">

                A mobile robot that automates the process of <a href="https://en.wikipedia.org/wiki/Light_painting">lightpainting with a stick of high density LEDs while taking low-exposure photography </a>. The purpose of the project is to make short-films composed of many 2-D square images painted by the LEDs acting as pixels.

                 <br><br>
                  
                </p>
              
            </div>

            <hr>
    <!-- neopixel bot -->     

            <div class="col-lg-12 ">
                <h2 style="padding:0px;margin:10px">Tripfilms & FlamboyanFoundation</h2>
                <h4 style="padding-bottom:40px;margin:0px"> 2013</h4>
                <a href="https://tripfilms.com">
                    <img style="width:40%; padding-right:20px;" src="static/img/tripfilms/tripfilms.png" >
                </a>
                <a href="http://flamboyanfoundation.org/">
                <img style="width:40%; padding-right:20px;" src="static/img/tripfilms/flamboyant.png" >
                </a>
    
                <p style="padding-top:20px; text-align:left;">
                    Worked on layout for <a href="http://flamboyanfoundation.org/"> FlamboyanFoundation </a> and developed dynamic charts and graphs on user dashboards to show progress of tasks. Developed a media rss feed for <a href="https://tripfilms.com"> tripfilms. </a> 
                

                 <br><br>
                  
                </p>
              
            </div>

  </div>
        <div class="col-md-2 tech relevantClasses" >
                <p style="font-size:14px;"> <u>Relevant Classes:</u>
                    <br><br>
                    computer networks<br>
                    computer science theory<br>
                    artificial intelligence<br>
                    algorithms<br>  
                    databases<br>
                    stat. machine learning<br>
                    cloud computing & big data<br>
                    computer vision<br>
                    robotics<br>
                    data mining<br>

                </p>
            </div>
    <!-- Neopixel  --> 
       


            
        </div>
    </section>


   {%include "footer.html"%}
 {%include "bottom.html"%}

</body>

</html>
