<!DOCTYPE html>
<html lang="en">
{%include "header.html"%}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    {%include "navbar.html"%}

    <!-- About Section -->
    <section id="tech" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>reach</h2>
                <img style="width:30%" src="static/img/me.png">
                <p></p>
              
            </div>
             <div class="col-lg-4 col-lg-offset-2">
                <h2>About Me</h2>
                <img style="width:30%" src="static/img/me.png">
                <p>I'm really into anime and drawing.</p>
              
            </div>
             <div class="col-lg-4 col-lg-offset-2">
                <h2>About Me</h2>
                <img style="width:30%" src="static/img/me.png">
                <p>I'm really into anime and drawing.</p>
              
            </div>
        </div>
    </section>


   {%include "footer.html"%}
 {%include "bottom.html"%}

</body>

</html>
