<!DOCTYPE html>
<html lang="en">
{%include "header.html"%}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    {%include "navbar.html"%}

    <!-- About Section --> 
    <section id="tech" class="container tech text-center" style="padding-top:50px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>reach</h2>

            <img style="width:40%;" src="static/img/tech/reach10.png" >
                <img style="width:42%;" src="static/img/tech/reach6.png" >
                
                <p style="padding-top:20px; text-align:left;">
                    REACH is a comprehensive analytics suite that allows us to explore trends that have surfaced

                    and interactions between users on the Twitter social media platform.We present the alpha version of REACH, with three core analytics offerings:
                    <br><br>
                    1) User Analytics
                    We provide high­level summaries of any Twitter user's interactions on the platform, providing
                    more transparency to social media managers and publicists. User analytics can also be used
                    by recruiters, political analysts, or anyone else who wishes to run a background check.
                    <br><br>
                    2.) Trend Geography
                    Our application visualizes how a trend on Twitter propagates geographically as a function of
                    time.
                    <br><br>
                    3) Trend Influencers
                    Our application identifies Twitter users who are influential about a specific topic.

                </p>
              
            </div>
            <hr>
             <div class="col-lg-8 col-lg-offset-2">
                <h2>the buff plan</h2>

            <img style="width:40%;" src="static/img/thebuffplan/buff2.png" >
                <img style="width:41%;" src="static/img/thebuffplan/buff1.png" >
                
                <p style="padding-top:20px; text-align:left;">
                   Our web based application aims to provide customized exercise and nutrition plans for users based on the individual’s goals: lose X pounds per week, gain X pounds per week, physique, or bodybuilding.
                 <br><br>
                   To formulate the plan, the user will specify their age, body weight, gender, height, activity level, exercise availability, favorite ingredients, dietary constraints and injuries. We will then do computations which will be visible to the user to show what their caloric intake should be (including a breakdown of macronutrient consumption), what exercises to perform based on the individuals goals, and finally what supplements to take to make the process more effective and less painful. If the user would like, we could formulate an example meal plan that would help satisfy their caloric/macronutrient needs.
                </p>
              
            </div>
             <hr>
            

             <div class="col-lg-8 col-lg-offset-2">
                <h2>Genome Simulator</h2>

                <img style="width:40%;" src="static/img/genome/genome1.png" >
                <img style="width:30%;" src="static/img/genome/genome3.png" >
                
                <p style="padding-top:20px; text-align:left;">
                   Our web based application aims to provide customized exercise and nutrition plans for users based on the individual’s goals: lose X pounds per week, gain X pounds per week, physique, or bodybuilding.
                 <br><br>
                   To formulate the plan, the user will specify their age, body weight, gender, height, activity level, exercise availability, favorite ingredients, dietary constraints and injuries. We will then do computations which will be visible to the user to show what their caloric intake should be (including a breakdown of macronutrient consumption), what exercises to perform based on the individuals goals, and finally what supplements to take to make the process more effective and less painful. If the user would like, we could formulate an example meal plan that would help satisfy their caloric/macronutrient needs.
                </p>
              
            </div>
             <hr>


              <div class="col-lg-8 col-lg-offset-2">
                <h2>SAMI Parser</h2>

                <img style="width:20%; padding-right:20px;" src="static/img/eeg/sami2.png" >
                <img style="width:50%;" src="static/img/eeg/sami1.png" >
                
                <p style="padding-top:20px; text-align:left;">
                   Our web based application aims to provide customized exercise and nutrition plans for users based on the individual’s goals: lose X pounds per week, gain X pounds per week, physique, or bodybuilding.
                 <br><br>
                   To formulate the plan, the user will specify their age, body weight, gender, height, activity level, exercise availability, favorite ingredients, dietary constraints and injuries. We will then do computations which will be visible to the user to show what their caloric intake should be (including a breakdown of macronutrient consumption), what exercises to perform based on the individuals goals, and finally what supplements to take to make the process more effective and less painful. If the user would like, we could formulate an example meal plan that would help satisfy their caloric/macronutrient needs.
                </p>
              
            </div>


                    <div class="col-lg-8 col-lg-offset-2">
                <h2>Volume Licensing Application</h2>

                <img style="width:40%; padding-right:20px;" src="static/img/microsoft/responsive3" >
                <img style="width:40%;" src="static/img/microsoft/responsive1" >
                
                <p style="padding-top:20px; text-align:left;">
                   Our web based application aims to provide customized exercise and nutrition plans for users based on the individual’s goals: lose X pounds per week, gain X pounds per week, physique, or bodybuilding.
                 <br><br>
                   To formulate the plan, the user will specify their age, body weight, gender, height, activity level, exercise availability, favorite ingredients, dietary constraints and injuries. We will then do computations which will be visible to the user to show what their caloric intake should be (including a breakdown of macronutrient consumption), what exercises to perform based on the individuals goals, and finally what supplements to take to make the process more effective and less painful. If the user would like, we could formulate an example meal plan that would help satisfy their caloric/macronutrient needs.
                </p>
              
            </div>

        </div>
    </section>


   {%include "footer.html"%}
 {%include "bottom.html"%}

</body>

</html>
